<div class="col3 left">
  <div class="col3_content">

   <div class="col_title">Tincidunt</div>
   <ul>
    <li><a href="#">Consequat molestie</a></li>
    <li><a href="#">Sem justo</a></li>
    <li><a href="#">Semper eros</a></li>
    <li><a href="#">Magna sed purus</a></li>
    <li><a href="#">Tincidunt morbi</a></li>
   </ul>

  </div>
</div>

<div class="col3mid left">
  <div class="col3_content">

   <div class="col_title">Fermentum</div>
   <ul>
    <li><a href="#">Semper fermentum</a></li>
    <li><a href="#">Sem justo</a></li>
    <li><a href="#">Magna sed purus</a></li>
    <li><a href="#">Tincidunt nisl</a></li>
    <li><a href="#">Consequat molestie</a></li>
   </ul>

  </div>
</div>

<div class="col3 right">
  <div class="col3_content">

   <div class="col_title">Praesent</div>
   <ul>
    <li><a href="#">Semper lobortis</a></li>
    <li><a href="#">Consequat molestie</a></li>
    <li><a href="#">Magna sed purus</a></li>
    <li><a href="#">Sem morbi</a></li>
    <li><a href="#">Tincidunt sed</a></li>
   </ul>

  </div>
</div>